@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 100%;
}
@media (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1180px;
  }
}
@media (min-width: 1366px) {
  .container {
    max-width: 1180px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1180px;
  }
}

input, textarea {
  --tw-ring-shadow: 0 0 #000 !important;
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer components {
  .primary-gradient-text {
    @apply bg-text-primary inline-block text-transparent bg-clip-text;
  }
  .secondary-gradient-text {
    @apply bg-text-secondary inline-block text-transparent bg-clip-text;
  }
  .outline-text-logo {
    color: transparent;
    -webkit-text-stroke: 3px white; /* Stroke width and color */
    text-stroke: 3px white;
  }
  .outline-text-logo-mobile {
    color: transparent;
    -webkit-text-stroke: 1px white; /* Stroke width and color */
    text-stroke: 1px white;
  }
  .outline-text-branch {
    color: transparent;
    -webkit-text-stroke: 1px white; /* Stroke width and color */
    text-stroke: 1px white;
  }
}

